.article {
  margin-bottom: 3.7rem;
}

.title {
  font-size: 1rem;
}

.externalAnnotation:after {
  display: inline-block;
  margin-left: 0.3rem;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 18L18 6'/%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 6h9v9'/%3E%3C/svg%3E");
  height: 14px;
  width: 14px;
}

.link {
}
