/* Using the system font stack b/c we feel the need... the need for speed */
body {
  font-family: "system-ui";
  background: #ffffff;

  margin: 0rem;
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.3rem; }

pre {
  overflow: scroll;
  margin-left: 1.5rem;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.body-content {
  display: flex;
  justify-content: center;
}

.body-container {
  padding-left: 2em;
  padding-right: 2em;

  width: 100%;
  max-width: 48rem;
}

a {
  color: #0068bf;
}

.header {
  border-top: solid #333 2px;
  border-bottom: solid #e4e4e4 1px;
  background: #f3f3f3;

  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__container {
  padding-left: 2em;
  padding-right: 2em;

  height: 3rem;
  width: 100%;
  max-width: 48rem;

  display: flex;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .header__container {
  }
}

.header__link-home {
  font-family: "system-ui";
  font-size: 1.1rem;
  text-decoration: none;
}

.header__nav {
  margin-left: auto;
}

.nav__link {
  margin: 0.6rem;
}

.prefooter {
  width: 100%;
  min-height: 18em;

  margin-top: 4em;

  border-top: solid #e4e4e4 1px;
  border-bottom: solid #e4e4e4 1px;
  background: #f0efeb;

  display: flex;
  justify-content: center;
}

.prefooter__container {
  margin: 2rem;
}

.onecoolthing {
  margin-bottom: 3rem;
}

.onecoolthing__header {
}

@media screen and (min-width: 730px) {
  .prefooter__container {
    max-width: 88rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 3rem;
  }

  .onecoolthing {
    margin-bottom: 0rem;
  }
}


.footer {
  font-size: .9rem;
  color: #555;

  padding-top: 1rem;
  padding-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container {
  padding-left: 2em;
  padding-right: 2em;

  width: 100%;
  max-width: 48rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social {
}

.footer__social--link {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.util-highlight {
  color: #0068bf;
}

a.util-highlight {
}

a.util-highlight:hover {
  text-decoration: underline;
}

.image {
  max-width: 100%;
  height: auto;
  margin-top: 2em;
}
