/* Define the "system" font family 
 * h/t css-tricks: https://css-tricks.com/snippets/css/system-font-stack/
 * */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: fancy;
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"), local("Helvetica Neue"), local("Helvetica"), local("Arial"), local("sans-serif");
}

/* Now, let's apply it on an element */
body {
  font-family: "system";
  background: #ffffff;

  margin: 0rem;
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.2rem; }

.body-content {
  padding: 2rem;
  max-width: 48rem;
}

a {
  color: #0068bf;
}

.header__container { 
  border-top: solid #333 2px;
  border-bottom: solid #e4e4e4 1px; 
  background: #f3f3f3;

  margin-bottom: 3rem;

  padding-left: 2em;
  padding-right: 2em;

  height: 3rem;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .header__container {
    padding-right: 4em;
  }
}

.header__link-home {
  font-family: system;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}

.header__nav {
}

.nav__link {
  margin: 0.6rem;
}

.prefooter {
  min-height: 18em;

  padding: 2em;
  margin-top: 4em;

  background: #f0efeb;

  display: block;
}

@media screen and (min-width: 630px) {
  .prefooter {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
}

.onecoolthing {
  margin-left: 3em;
  margin-right: 3em;
}

.onecoolthing__header {
  margin-top: 3em;
}



footer {
  font-size: .9rem;
  color: #555;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.util-highlight {
  color: #0068bf;
}

a.util-highlight {
  text-decoration: none;
}
